html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.imageLightbox {
  display: none;
  justify-content: center;
  align-content: center;
  height: 95%;
  width: 100%;
  position: fixed;
  top: 20px;
  bottom: 30px;
}

.imageLightbox img {
  max-height: 100%;
  width: auto;
}

body {
    background-image: url("billeder/sky baggrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.maillink {
    text-decoration: none;
}
  .maillink:hover {
    text-decoration: underline;
  }

.LH {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  margin-left: -9px;
  margin-top: 16px;
}

.menu {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  margin-left: -9px;
  margin-top: 16px;
}
  .menu:active {
    text-decoration: line-through;
  }

  .menu:hover {
    color: #a0c1ea;
  }

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

.instagram{
  color: white;
  list-style-type: none;
  text-decoration: underline;
  margin-left: -9px;
  font-size: 14px;
  }

  .instagram:hover{ 
    color:blue; 
  }

.container { 
  position:absolute;
  top:15%;
  left:18%;
  color: white;
  width: 620px 
}

.logo {
  width: 40%;
  position:relative;
  left: 33%;
  padding: 35px;
}
  


input[type=text], input[type=submit] {
  width: 18%;
  padding: 6px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;-box;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
