html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.imageLightbox {
  display: none;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  background:rgba(255,255,255, 0.5)
}

.imageLightbox img {
  max-height: 100%;
  width: auto;
}

body {
    background-image: url("billeder/sky baggrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.maillink {
    text-decoration: none;
}
  .maillink:hover {
    text-decoration: underline;
  }

.LH {
  left: 17px;
  top: 9px;
  position: fixed;
}

.menu {
  list-style-type: none;
  left: -23px;
  top: 55px;
  position: fixed;
}

.menu li a { 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

.instagram{
  text-decoration: underline !important;
  }

  .instagram:hover{ 
    color:blue !important; 
  }

.container {
  line-height: 200%; 
  position:absolute;
  top:15%;
  left:18%;
  color: white;
  width: 620px;
}

.logo {
  width: 32%;
  position:absolute;  
  left: 44%;
  top: 43%;
}

.container2 {
  line-height: 1.5; 
  position:absolute;
  top:15%;
  left:18%;
  color: white;
  width: 620px;  
}

.email {
  width: 25%;
  padding: 4px;
  font-size
  
}
  

input[type=text], input[type=submit] {
  width: 18%;
  padding: 6px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;-box;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
