html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

@media only screen and (max-width: 700px) {
  body:after {
    content: "Please use a bigger screen than 700 pixel to enter the gallery";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed; /* could also be absolute */ 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    color: white;
    background-color: none;
    background: linear-gradient(0deg, rgba(106,166,219,1) 0%, rgba(25,85,184,1) 100%);
  }
}

.imageLightbox {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  background: rgba(255,255,255, 0.6);
  z-index: 5;
}

.imageLightbox img {
  max-height: 100%;
  width: auto;
}

body {
    background-image: url("billeder/sky baggrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.maillink {
    text-decoration: none;
}
  .maillink:hover {
    text-decoration: underline;
  }

.LH {
  left: 17px;
  top: 9px;
  position: fixed;
  z-index: 100;
}

.menu {
  list-style-type: none;
  left: -23px;
  top: 55px;
  position: fixed;
}

.menu li a { 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

.instagram{
  text-decoration: underline !important;
  }

  .instagram:hover{ 
    color:blue !important; 
  }

.container {
  line-height: 200%; 
  position:absolute;
  top:13%;
  left:18%;
  color: white;
  width: 620px;
  font-size: 14px;
}
  
  .container img {
    width: 85%;
    display: block;
    margin-left: auto; 
    margin-right: auto;
  }

.logo {
  width: 43%;
  position:absolute;  
  left: 37%;
  top: 33%;
}

.container2 {
  box-sizing: border-box;
  float: left;
  width: 37%;
  position: relative;
  top: 100px;
  left:170px;
}

.pasttext {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  list-style-type: none;
}

  .pasttext li a {
    text-decoration: none;
    color: white;
  }

  .pasttext:hover {
    text-decoration: none;
  }

.email {
  width: 25%;
  padding: 4px;
  font-size  
}

.textart {
  line-height: 1.5; 
  position:absolute;
  top:3%;
  left:72%;
  width: 320px;
  font-size: 14px;
  padding: 5px;
  color: white; 
  background-color: rgba(255,255,255, 0.1);    
}

input[type=text], input[type=submit] {
  width: 18%;
  padding: 6px;
  margin: 4px 0;
  display: inline-block;
  box-sizing: border-box;-box;
  background-color: #4CAF50;
  color: white;
  border: none;

}

input[type=submit]:hover {
  opacity: 0.8;
}

#yowl {
  position: absolute;
  z-index: -1;
  width: 100%;
}

#player {
 width: 20%;
 padding-left: 40%;
 opacity: 20%;
}​

.doc_img {
  width: 100%;
}

.HBmail {
  left: 48.5%;
  top: 60%;
  position: absolute;
  z-index: 40;
}

.plantegning {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.plantegning:hover{
  fill:#3F7CCB;
  fill-opacity:0.3;
}


.container3 {
  top:5%;
  padding-left:47%;
  position: absolute;
  width: 80%;
}


// Play/Pause Button
.togglePlay {
  font:0/0 a;
  background: #006B5A;
  color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 1px solid darken(#006B5A, 10%);
  cursor: pointer;
  transition: transform 150ms ease-out;
  
  &:after {
    box-sizing: border-box;
    display: block;
    content: '';
    width: 0;
    height: 0;
    margin-left: 8px;
    border-color: transparent;
    border-style: solid;
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 19px;
    border-left-color: rgba(255,255,255,0.9);
  }
  
  &:hover {
    transform: scale(1.05);
  }
  &.active{
    &:after {
      width: 21px;
      height: 26px;
      margin-left: 0;
      border-width:0 7px;
      border-color: rgba(255,255,255,0.9);
    }
  }
}
