@font-face {
  font-family: "L15-RegularWide";
  src: url("./fonts/L15-RegularWide.woff2") format("woff2"),
       url("./fonts/L15-RegularWide.woff") format("woff");
}
.outer-wrap {
  position: absolute;
  top: 50%;
  margin-top: -43vh;
  width: 100%;
}

@media only screen and (max-width: 800px) {
   .outer-wrap {
     margin-top: 20%;
     top: 0;
   }
}

@media only screen and (max-width: 600px) {
  .outer-wrap {
    margin-top: 35%;
  }
  .arrow {
  position: relative!important; 
  right: 4vw!important;
  top: 0!important; 
  display: block;
  text-align: center;
  }
  .arrow img {
    width: 50%!important;
    margin-left: 20px;
    margin-top: 10%;
  }
  .menu > li:first-child {
    width: 100%; 
  }
  .menu > li {
  margin: 10px;
  width: auto;
  }
  .menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  .outer-wrap {
    margin-top: 45%;
  }
}
@media only screen and (max-width: 400px) {
  .outer-wrap {
    margin-top: 55%;
  }
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}



.c-c-text {
  color: transparent;
  text-transform: uppercase;
  letter-spacing: -0.6vw;
  font-family: "L15-RegularWide";
}

.c-c {
  -webkit-text-stroke-width: .2vw;
  position: absolute;
  z-index: 99999999;
  top: 31%;
  left: 30.4%;
  width: 10vw;
  height: auto;
  font-size: 2em;
  font-size: 12vw;
  border-style: solid;
  border-width: 0;
  transform: perspective(599px) rotateY(39deg) rotate(0deg);
  -webkit-text-stroke-color: #F94F28;
  // animation: pulsate_two 3.5s infinite alternate;
  -webkit-filter: drop-shadow(-5px 0px 1px rgba(0,0,0, 0.3));
  drop-shadow(-5px 0px 1px rgba(0,0,0, 0.3));

}


@keyframes pulsate {
100% {
  /* Larger blur radius */
  text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
}

0% {
  /* Smaller blur radius */
  text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #fff,
    0 0 45px #fff,
    0 0 55px #fff;
}
}
@keyframes pulsate_two {

100% {
  /* Larger blur radius */
  filter: brightness(50%);
}

0% {
  /* Smaller blur radius */
  filter: brightness(80%);
}
}


#tely {
    position: absolute;
    top: 26%;
    left: 53%;
    width: 21vw;
    height: 16vh; 
    background: center center no-repeat;
    background-size: auto;
    background-size: contain;
    perspective: 600px;
    perspective-origin: -35% 8%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.turn {
  transform: rotate(90deg) perspective(119px) rotateY(-6deg) rotateX(0deg)!important;
  
}

.c-c-extra {
  display: block!important;
  font-size:  7vw!important;
  position: absolute;
  left: 14vw;
  transform: rotate(90deg) perspective(119px) rotateY(-6deg) rotateX(0deg)!important;
}



.other-place {
  transform-origin: inherit!important;
  transform: rotate(90deg)!important;
  position: relative!important;
  display: block;
  left: 2vw;
  position: relative;
  top: -8vh;

}

.top-right-screen {
display: block;
animation: pulsate 3.5s infinite alternate;
font-size: 4vw;
letter-spacing: 1px;
-webkit-text-stroke-width: .06vw;
-webkit-text-stroke-color: #FFF;
transform: rotate(0.5deg) perspective(123px) rotateY(-6deg) rotateX(-1deg);
transform-origin: 79px 71px;
transform-style: preserve-3d;
width: 100%;
}
#Layer_1 {
filter: brightness(50%);
animation: pulsate_two 3.5s infinite alternate;
}

.arrow {
  position: absolute;
  right: 4vw;
  top: 50%;
  margin-top: -6vh;
}

.arrow img {
  width: 9vw;
}

.arrow img:hover {
-webkit-filter: drop-shadow(5px 5px 5px #fff);
filter: drop-shadow(5px 5px 5px #fff); 

}


body {
  background-image: url("billeder/baggrundlys.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imageLightbox {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  background: rgba(255,255,255, 0.6);
  z-index: 5;
}

.imageLightbox img {
  max-height: 100%;
  width: auto;
}

body {gamle baggrund}
    background-image: url("billeder/baggrundlys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.maillink {
    text-decoration: none;
}
  .maillink:hover {
    text-decoration: underline;
  }

.LH {
  left: 17px;
  top: 9px;
  position: fixed;
  z-index: 100;
}

.menu {
  z-index: 999999999;
  list-style-type: none;
  left: -23px;
  top: 55px;
  position: fixed;
}

.menu li a { 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

.instagram{
  text-decoration: underline !important;
  }

  .instagram:hover{ 
    color:blue !important; 
  }

.container {
  line-height: 200%; 
  position:absolute;
  top:13%;
  left:18%;
  color: white;
  width: 620px;
  font-size: 14px;
}
  
  .container img {
    width: 85%;
    display: block;
    margin-left: auto; 
    margin-right: auto;
  }

.logo {
  width: 43%;
  position:absolute;  
  left: 37%;
  top: 33%;
}

.container2 {
  box-sizing: border-box;
  float: left;
  width: 37%;
  position: relative;
  top: 60px;
  left:170px;
}

.pasttext {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  list-style-type: none;
}

  .pasttext li a {
    text-decoration: none;
    color: white;
  }

  .pasttext:hover {
    text-decoration: none;
  }

.email {
  width: 25%;
  padding: 4px;
  font-size  
}

.textart {
  line-height: 1.5; 
  position:absolute;
  top:3%;
  left:72%;
  width: 320px;
  font-size: 14px;
  padding: 5px;
  color: white; 
  background-color: rgba(255,255,255, 0.1);    
}

input[type=text], input[type=submit] {
  width: 18%;
  padding: 6px;
  margin: 4px 0;
  display: inline-block;
  box-sizing: border-box;-box;
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

#yowl {
  position: absolute;
  z-index: -1;
  width: 100%;
}

#player {
 width: 20%;
 padding-left: 40%;
 opacity: 20%;
}​

.doc_img {
  width: 100%;
}

.HBmail {
  left: 48.5%;
  top: 60%;
  position: absolute;
  z-index: 40;
}

.plantegning {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.plantegning:hover{
  fill:#3F7CCB;
  fill-opacity:0.3;
}


.container3 {
  top:5%;
  padding-left:47%;
  position: absolute;
  width: 80%;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: auto; /* none */
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 1000vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.container4 {
  top:57%;
  left:84.3%;
  position: absolute;
}

